#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 372px;
  background: #fff;
}

.companyLogo {
  margin: 20px;
}

.inputsWrapper {
  margin: 20px;
}

.textInput {
  display: block;
}
