#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 372px;
  background: #fff;
}

.companyLogo {
  width: 376px;
  height: 132px;
  margin: 20px;
  background: silver;
}

.inputsWrapper {
  margin: 20px;
}

.textInput {
  display: block;
  width: 376px;
  height: 40px;
}

.buttonInput {
  display: block;
  width: 376px;
  height: 40px;
}
